# Windows junk
*:Zone.Identifier

# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/

# Django
db.sqlite3
*.sqlite3

# Large binaries (DEVOPS TOOLS)
*.deb
*.hpi
minikube-linux-amd64
jenkins*

# OS files
.DS_Store
