# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
env/

# Django secrets
*.env
.env

# PostgreSQL dumps
*.sql

# Byte-compiled/cached
*.egg-info/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

*.deb
minikube-linux-amd64
*.hpi
